html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 10pt;
}

#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
}

.padded_options {
  position:absolute;
  left: 0;
  right: 0;
  margin-left: 50px;
  margin-right:50px; 
  background-color: #fff;
  border-radius: 5px;
  top:10px;
  z-index: 314158;
}

label {
  display: block;
}


.flex_parent {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  flex-flow: row wrap;
 }

.flex_item {
  
   flex: 1 1 auto;
   margin:5px;
   padding: 5px; 
   border: solid 1px #BCBCBC;
   border-radius: 5px;

}



#stats_panel {
  position:absolute;
  background-color: #FFF;
  border-radius: 5px;
  padding: 8px 8px 0 8px;
  bottom: 20px;
  left: 10px;
  z-index: 314159;
  max-height: 800px;
  overflow: auto;
}

#supply_change_panel {
  position:absolute;
  background-color: #FFF;
  border-radius: 5px;
  padding: 8px 8px 0 8px;
  bottom: 20px;
  right: 10px;
  z-index: 314159;
  max-height: 800px;
  overflow: auto;
}

.info_title {
  display: flex;
  align-items: center;
}

.info_title_content {
  flex: 1 0 auto;
  justify-content: space-between;
}

.hide_button {
  height:17px;
  max-width:40px;
}

.show_buttons {
  display: block;
  width:210px;
}

.info_panel_hidden {
  display: none;
}

table, tr {
  border: 0px solid black;
  border-bottom: 1px solid #D2DBDB;

  border-collapse: collapse;
}

table tr:nth-child(even)  {
  background: #EBF4F4;

}


.stats_table th {
  min-width: 200px;
  text-align: left;
}


label {
  display:block;
  font-weight: bold;
}


svg {
  position: relative;
}

path {
  fill-opacity: 1;
  stroke: #000000;
  stroke-width: 0.4px;
    pointer-events: none;

}



path.voronoi_borders {
  fill: none;
  stroke: #05D7FD;
  stroke-width: 2px;
  pointer-events: none;
}

.leaflet-pane .voronoi_cells {
  fill-opacity: 0.7;
  pointer-events: all
}

.voronoi_cell_highlight {
  fill: #026476;
}

.demand_line {
  pointer-events: none;
}

.leaflet-container {
    background: #fff;

}

/*Leaflet overrides*/
/*.leaflet-pane > svg path,*/
.leaflet-tile-container {
  pointer-events: all;
  }



